/*LK*/ 
.light-grey-bg{
	background-color: #f6f7fa;
}
.lk-page{
	background: url('../images/bg/lk-top.png') 100% top no-repeat,
			    url('../images/bg/lk-bottomb.png') 0 100% no-repeat;
	height: 100%;
	&.flex{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.logo-container{
		margin-bottom: 3em;
		.logo{
			img{
				width: auto;
			}
		}
	}
	.form{
		margin-top: 6.75em;
	}
}
.form{
	width: 90%;
	max-width: 680px;
	border: 10px solid var(--green);
	border-radius: 15px;
	position: relative;
	margin: 0 auto;
	padding: 50px 80px;
	&::before{
		content: '';
		width: 80px;
		height: 60px;
		background: transparent url('../images/icons/decor-element_lg.png') left top no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		-webkit-transform: translateY(calc(-100% + 1px));
		transform: translateY(calc(-100% + 1px));
		left: 130px;
	}
}
.form__title{
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 1.75em;
}
.input-grey{
	display: block;
	width: 100%;
	height: 74px;
	background-color: #eaeaea;
	border-radius: 3px;
	appearance: none;
	outline: none;
	border: 2px solid transparent;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding-left: 30px;
	transition: all .3s;
	&:focus{
		border-color: #eaeaea;
		background-color: #fff;
	}
}

.forgot{
	font-size: 14px;
	&:hover{
		color: var(--green);
	}
}
.registration-block{
	.features-lk__list{
		margin-top: 8.125em;
		justify-content: space-between;
		li{
			width: 30%;
		}
	}
	.features-lk__item{
		border-color: var(--green);
		&::after{
			width: 50%;
			height: 5px;
			border-radius: 0;
			background-color: #f6f7fa;
		}
	}
	.btn-container{
		display: flex;
		flex-direction: column;
		align-items: center;
		.btn{
			margin-bottom: 1.875em;
		}
	}
}
.question{
	font-size: 1.125rem;
	font-weight: 500;
	margin-bottom: .7em;
	&:hover{
		color: var(--green);
	}
}
.enter{
	font-size: 1.125rem;
	font-weight: 500;
	color: var(--red);
	border-bottom: 1px dashed currentColor;
	&:hover{
		color: var(--green);
	}
}
.registration__title{
	font-size: 30px;
	line-height: 1.3;
	margin-bottom: .6em;
	font-weight: 500;
}
.registration__subtitle{
	font-size: 24px;
	font-weight: 400;
}

.lk-header{
	background-color: #fff;
	padding: 17px 30px;
	.header__user__btn{
		color: var(--red);
		margin-left: 4em;
		&:hover{
			color: var(--black);
		}
	}
}
.lk-cabinet{
	min-height: calc(100% - 82px);
}
.lk-menu{
	flex: none;
	width: 240px;
	background-color: var(--green);
	font-size: 15px;
	li{
		a{
			color: #fff;
			font-weight: 300;
			display: block;
			padding: 40px 20px;
			border-bottom: 1px solid #127b61;
			&:hover, 
			&.active{
				background-color: var(--red);
				color: #fff;
			}
		}
	}
	.header__phone{
		display: none;
	}
}
.lk-content{
	width: calc(100% - 240px);
	padding: 30px;
}

.report__item{
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}
.report__title{
	font-size: 16px;
	padding: 2em;
	flex-grow: 1;
	background-color: #fff;
}
.report__status{
	flex: none;
	width: 25%;
	min-width: 200px;
	padding: 0 10px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--green);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	&.report--success{
		background-color: #dcefe9;
	}
	&.report--in-process{
		background-color: #fffcd6;
	}
	&.report--completed{
		background-color: #e5f8fe;
	}
	&.report--wait{
		background-color: rgba(#f7941d, .2);
	}
	&.report--error{
		background-color: rgba(#ed1c24, .12);
	}
}

.my-report{
	.btn{
		width: 100%;
		max-width: 500px;
		text-align: center;
	}
}
.my-report__item{
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: #eaeaea;
	padding: 17px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	&:last-of-type{
		margin-bottom: 40px;
	}
	.file{
	}
}
.report-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	border-radius: 5px;
	background-color: var(--green);
	color: #fff;
	.ico{
		width: 13px;
		height: 18px;
	}
	&:hover{
		background-color: var(--dark-grey);
	}
}

.delete{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 37px;
	height: 37px;
	border-radius: 5px;
	background-color: var(--red);
	color: #fff;
	.ico{
		width: 22px;
		height: 25px;
	}
	&:hover{
		background-color: var(--dark-grey);
	}
}

.my-report__item__title{
	font-size: 14px;
	margin-left: 25px;
}
.file{
	input{
		display: none;
	}
	.ico{
		width: 41px;
		height: 41px;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
		background-color: var(--green);
		cursor: pointer;
		transition: all .3s;
		&:hover{
			background-color: var(--dark-grey);
		}
		svg{
			width: 24px;
			height: 18px;
		}
	}
}
.lk-online{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;
}
.lk-online__title{
	max-width: 990px;
	font-size: 30px;
	line-height: 1.5;
	font-weight: 500;
	margin-bottom: 2em;
}

.lk-edit{
	padding-top: 40px;
	max-width: 780px;
	.input-wrapper:last-of-type{
		margin-bottom: 40px;
	}
}
.lk-edit__title{
	font-size: 18px;
	margin-bottom: 1.5em;
	font-weight: 500;
}

.lk-payment__title{
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 2.5em;
}
.lk-payment-table{
	.payment__item{
		width: 20%;
		font-size: 16px;
		padding: 2em;
		&.report__status{
			font-size: 14px;
			font-weight: 700;
		}
		&:first-child{
			width: 15%;
		}
		&:last-child{
			min-width: 320px;
		}
	}
}
.payment-table-head,
.payment-table-row{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.payment-table-row{
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	overflow: hidden;
}
.payment-table-head{
	border-bottom: 2px solid #fff;
	margin-bottom: 20px;
	.payment__item{
		padding: 1.5em 2em;
		font-weight: 500;
	}
}

.lk-manager__content{
	width: 100%;
	max-width: 1030px;
	margin: 0 auto;
	.btn-container{
		margin-top: 50px;
	}
	.btn{
		padding-left: 1.3em;
		padding-right: 1.3em;
	}
}
.lk-manager__title{
	text-align: center;
	font-size: 24px;
	line-height: 1.5;
	padding-bottom: 1.5em;
	font-weight: 500;
	border-bottom: 2px solid rgba(#000, .12);
}
.manager-row{
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	&--border{
		margin-bottom: 0;
		padding-bottom: 17px;
		border-bottom: 1px solid rgba(#000, .1);
		&:last-of-type{
			border-bottom: none;
			margin-bottom: 20px;
		}
		.input-wrapper{
			margin-bottom: 0;
		}
		.checkbox{
			&:not(:last-child){
				margin-right: 3em;
			}
		}
	}
	.input-wrapper,
	.manager__item{
		width: 48.5%;
	}
	.input-title{
		opacity: 0;
		visibility: hidden;
	}
}
.manager__title{
	font-size: 18px;
	padding: 1em 0;
}
.select-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 74px;
	padding-left: 20px;
	background-color: #eaeaea;
}
.select-wrapper__title{
	font-size: 16px;
}
.select{
  position: relative;
  display: block;
  width: 60%;
  height: 100%;
  font-size: 16px;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;

  .placeholder{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    background-color: #eaeaea;
    padding-right: 20px;
	font-weight: 400;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px;

    &:hover{
      color: var(--blue);
    }
	.ico{
		width: 37px;
		height: 37px;
		flex: none;
		background-color: #fff;
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
    .ico svg{
    	flex: none;
    	width: 17px;
    	height: 10px;
    }
  }

  &.is-open{
  	.placeholder{
  		color: var(--green);
  	}
    .placeholder .ico{
      transform: rotate(180deg);
    }
    ul{
      display: block;
    }
  }


  ul{
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 17px;
    z-index: 100;
    box-shadow: 0 5px 20px rgba(#000, .1);

    li{
      display: block;
      text-align: left;
      margin-bottom: 14px;
      cursor: pointer;
      transition: all .3s;
      &:last-child{
      	margin-bottom: 0;
      }

      &:hover{
        color: var(--green);
      }
    }
  }
}
.calculator__field--user{
	&::after{
		content: '';
		width: 25px;
		height: 25px;
		background:transparent url('../images/icons/user.svg') left top no-repeat;
		background-size: contain;
	}
}