/*recomend*/ 
.recomend{
	padding: 6em 0;
	background:transparent url('../img/bg/recomend_bg.jpg') left top no-repeat;
	background-size: cover;
	.title{
		margin-bottom: 4em;
	}
	.h2{
		margin-bottom: .2em;
	}
}
.recomend__list{
	justify-content: space-between;
	li{
		width: 45%;
		margin-bottom: 35px;
	}
}
.recomend__item{
	font-size: 1.125em;
	height: 6.666em;
	padding-top: 17px;
	line-height: 2;
	background:transparent url('../img/bg/border.png') 100% top no-repeat;
	background-size: 92% 100%;
	position: relative;
	&::before{
		content: '';
		width: 1.22em;
		height: 1.22em;
		background:transparent url('../img/icons/arrow_green.png') left top no-repeat;
		background-size: contain;
		position: absolute;
		top: -.3em;
		left: 0;
	}
}